
$padding-mobile: 10%;
$padding-sm:  15%;
$padding-md:  20%;
$padding-padrao: 0 15%;
$padding-horizontal: 15%;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;